<!DOCTYPE html>
<!--[if lt IE 7]>      
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
  <![endif]-->
  <!--[if IE 7]>         
  <html class="no-js lt-ie9 lt-ie8">
    <![endif]-->
    <!--[if IE 8]>         
    <html class="no-js lt-ie9">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <html class="no-js">
        <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>Isaura & Gabriel</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="¡Sorpesa! ¡Nos casamos!" />
          <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
          <meta name="author" content="FREEHTML5.CO" />
          <script src="../index.js"></script>
          <!-- Facebook and Twitter integration -->
          <meta property="og:title" content="" />
          <meta property="og:image" content="" />
          <meta property="og:url" content="" />
          <meta property="og:site_name" content="" />
          <meta property="og:description" content="" />
          <meta name="twitter:title" content="" />
          <meta name="twitter:image" content="" />
          <meta name="twitter:url" content="" />
          <meta name="twitter:card" content="" />
          <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet'
            type='text/css'>
          <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
          <!-- Animate.css -->
          <link rel="stylesheet" href="/css/animate.css">
          <!-- Icomoon Icon Fonts-->
          <link rel="stylesheet" href="/css/icomoon.css">
          <!-- Bootstrap  -->
          <link rel="stylesheet" href="/css/bootstrap.css">
          <!-- Magnific Popup -->
          <link rel="stylesheet" href="/css/magnific-popup.css">
          <!-- Owl Carousel  -->
          <link rel="stylesheet" href="/css/owl.carousel.min.css">
          <link rel="stylesheet" href="/css/owl.theme.default.min.css">
          <!-- Theme style  -->
          <link rel="stylesheet" href="/css/style.css">
          <!-- Modernizr JS -->
          <script src="/js/modernizr-2.6.2.min.js"></script>
          <!-- FOR IE9 below -->
          <!--[if lt IE 9]>
          <script src="js/respond.min.js"></script>
          <![endif]-->
        </head>
        <body>
          <div class="fh5co-loader"></div>
          <div id="page">
            <nav class="fh5co-nav" role="navigation">
              <div class="container">
                <div class="row">
                  <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="/index.html"><strong>I&G</strong></a></div>
                  </div>
                </div>
              </div>
            </nav>
            <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/images/img_bg_2.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat; position: relative;">
              <style>
                /* Mobile devices */
                @media only screen and (max-width: 768px) {
                  #fh5co-header.fh5co-cover {
                    background-position: -341px 0px !important;
                  }
                }
          
                /* Tablets */
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                  #fh5co-header.fh5co-cover {
                    background-position: -341px 0px !important;
                  }
                }
          
                /* Landscape tablets */
                @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
                  #fh5co-header.fh5co-cover {
                    background-position: -341px 0px !important;
                  }
                }
          
                /* Desktops and laptops */
                @media only screen and (min-width: 1366px) {
                  #fh5co-header.fh5co-cover {
                    background-position: center center !important;
                  }
                }
              </style>
              <div class="overlay"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                      <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Isaura &amp; Gabriel</h1>
                        <h2>We are getting married!</h2>
                        <div class="simply-countdown simply-countdown-one"></div>
                        <p><a href="#confirma" class="btn btn-default btn-sm">
                          <% if (isPlural) { %>
							Join us!
                          <% } else { %>
							Join us!
                          <% } %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <div id="fh5co-couple">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <div id="invitation"></div>
                    <% if (params.length> 0) { %>
                    <h2>
                      <%= params.join(', ') %>
                    </h2>
                    <% } %>
                    <% if (isPlural) { %>
                    <h3>It is a pleasure to invite you to our wedding!</h3>
                    <% } else { %>
                    <h3>It is a pleasure to invite you to our wedding!</h3>
                    <% } %>
                    <p>August 4, 2023, Valencia, Spain</p>
                  </div>
                </div>
                <div class="couple-wrap animate-box">
                  <div class="couple-half">

                    <div class="groom">
                      <img src="/images/bride.jpg" alt="bride" class="img-responsive">
                    </div>
                    <div class="desc-groom">
                      <h3>Isaura Diaz Rangel</h3>
                    </div>

               
                  </div>
                  <p class="heart text-center"><i class="icon-heart2"></i></p>
                  <div class="couple-half">

                    <div class="bride">
                      <img src="/images/groom.jpg" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-bride">
                      <h3>Gabriel Clemente Ramos</h3>
                    </div>

                
                  </div>
                </div>
              </div>
            </div>
            <div id="fh5co-event" class="fh5co-bg" style="background-image:url(/images/img_bg_3.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat; position: relative;">
              <style>
                /* Mobile devices */
                @media only screen and (max-width: 768px) {
                  #fh5co-event.fh5co-bg {
                    background-position: -1206px 0px !important;
                  }
                }
              </style>
              <div class="overlay"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Our special day</span>
                    <h2>When and where?</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="display-t">
                    <div class="display-tc">
                      <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                          <div class="event-wrap animate-box">
                            <h3>Ceremony</h3>
                            <div class="event-col">
                              <i class="icon-clock"></i>
                              <span>6:00 p.m. (Spanish Time)</span>
                              <span>7:00 p.m. (Spanish Time)</span>
                            </div>
                            <div class="event-col">
                              <i class="icon-calendar"></i>
                              <span>Friday the 4th</span>
                              <span>August, 2023</span>
                            </div>
                            <% if (isFamily) { %>
                                  <p>The ceremony will be in the Mediterranean Garden with its fountains and a wide variety of aromatic plants, it is the perfect place to celebrate our wedding, here will be the welcome cocktail after the ceremony, it is accessed directly from the parking lot through the large doors, you cannot miss it .</p>
                              <% } else { %>
                                <p>The ceremony will be broadcast by Jira so we hope to be able to <% if (isPlural) { %>see you and reply to your<% } else { %>see you and reply to your<% } %> comments, obviously later when we're done celebrating it! thank you so much!</p>
                              <% } %>
                          </div>
                        </div>
                        <% if (isFamily) { %>
                        <div class="col-md-6 col-sm-6 text-center">
                          <div class="event-wrap animate-box">
                            <h3>Invitation</h3>
                            <div class="event-col">
                              <i class="icon-clock"></i>
                              <span>8:00 p.m. (Spanish Time)</span>
                              <span>10:00 p.m. (Spanish Time)</span>
                            </div>
                            <div class="event-col">
                              <i class="icon-calendar"></i>
                              <span>Friday the 4th</span>
                              <span>August, 2023</span>
                            </div>
                            <p>The invitation will be in the Blue Room, a classical-style room, inspired by ancient Greece. It consists of tapestries and blue domes, which together with its chandeliers offer a distinguished atmosphere that has made us fall in love. It is accessed directly from the garden, through the doors on the right hand side and straight ahead</p>
                          </div>
                        </div>
                        <% } else { %>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% if (isFamily) { %>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385.4334584306298!2d-0.4082468175694906!3d39.390924432999626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604c3226d83549%3A0xbcb717f4dd1b6fb3!2sMediterr%C3%A1neo%20Restaurant%20i%20Salons!5e0!3m2!1sen!2sfr!4v1686064067940!5m2!1sen!2sfr" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="300rem" width="100%" allowfullscreen></iframe>
            <% } %>
            <% if (isFamily) { %>
            <div id="fh5co-couple">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <div id="invitation"></div>
                    <% if (isPlural) { %>
                    <h2>We want you to be with us!</h2>
                    <% } else { %>
                    <h2>We want you to be with us!</h2>
                    <% } %>
                    <% if (isPlural) { %>
                      <h3>We extend a cordial invitation to you because you are important people to us and we want to share this special moment with you. <br/><br/>For us, the most important thing is to be able to enjoy together, that's why we don't expect any donation or charge admission. <br/><br/>Your presence is what we really want! <br/><br/>In addition, we kindly ask you to avoid using royal blue, as we have reserved it for a special detail. We hope to see you all radiant and elegant. <br/><br/>We love you and that is why we want to share this special day with you!</h3>
                      <% } else { %>
                      <h3>We extend a cordial invitation to you because you are an important person to us and we want to share this special moment with you. <br/><br/>For us, the most important thing is to be able to enjoy together, that's why we don't expect any donation or charge admission. <br/><br/>Your presence is what we really want! <br/><br/>In addition, we kindly ask you to avoid using royal blue, as we have reserved it for a special detail. We hope to see you radiant and elegant. <br/><br/>We love you and that is why we want to share this special day with you!</h3>
                      <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <div id="fh5co-started" class="fh5co-bg" style="background-image:url(/images/gifboda.gif),url(/images/img_bg_6.jpg);">
              <div class="overlay"></div>
              <% if (isFamily) { %>
              <div class="container">
                <div class="row animate-box">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <% if (isPlural) { %>
						<h2>Can you join us in person?</h2>
						<% } else { %>
						<h2>Will you be able to join us in person?</h2>
						<% } %>
						<% if (isPlural) { %>
						<p>Otherwise we will soon put the link so you can see it live and in
						  straight
						</p>
						<% } else { %>
						<p>Otherwise we will soon put the link so you can see it in
						  alive and
						  live
						</p>
						<% } %>
                  </div>
                </div>
                <div id="confirma" class="row animate-box  text-center">
                  <div class="col-md-10 col-md-offset-1  mx-auto d-block">
                    <form class="form-inline  mx-auto d-block">
                      <div class="col-md-12 col-sm-4  mx-auto d-block">
                        <div class="col-md-4 col-sm-4">
                        </div>
                        <a href="https://www.bodas.net/web/isaura-and-gabriel/confirmatuasistencia-3" target="_blank" >
                        <button type="button" class="btn btn-default btn-block mx-auto d-block">
							<% if (isPlural) { %>
								Let's go to the wedding!
								<% } else { %>
								I'm going to the wedding!
								<% } %>
                        </button>
                        </a>
                        <div class="col-md-4 col-sm-4">
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-4  mx-auto d-block">
                        <div class="col-md-4 col-sm-4">
                        </div>
                        <a href="https://youtube.com/live/E_20-p46kmY?feature=share" target="_blank" >
                        <button type="button" class="btn btn-default btn-block mx-auto d-block">
							See live
                        </button>
                        </a>
                        <div class="col-md-4 col-sm-4">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% } else { %>
              <div class="container">
                <div class="row animate-box">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<% if (isPlural) { %>
						<h2>Join us virtually</h2>
						<% } else { %>
						<h2>Join us virtually</h2>
						<% } %>
                  </div>
                </div>
                <div id="confirma" class="row animate-box  text-center">
                  <div class="col-md-10 col-md-offset-1  mx-auto d-block">
                    <form class="form-inline  mx-auto d-block">
                      <div class="col-md-12 col-sm-4  mx-auto d-block">
                        <div class="col-md-4 col-sm-4">
                        </div>
                        <a href="https://youtube.com/live/E_20-p46kmY?feature=share" target="_blank" >
                        <button type="button" class="btn btn-default btn-block mx-auto d-block">
							See live
                        </button>
                        </a>
                        <div class="col-md-4 col-sm-4">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            <footer id="fh5co-footer" role="contentinfo">
              <div class="container">
                <div class="row copyright">
                  <div class="col-md-12 text-center">
                    <p>
                      <small class="block">&copy; 2023. All Rights Reserved.</small>
                      <small class="block">Designed by <a href="https://gabo.solutions/"
                        target="_blank" >GABO</a></small>
                    </p>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
          </div>
          <!-- jQuery -->
          <script src="/js/jquery.min.js"></script>
          <!-- jQuery Easing -->
          <script src="/js/jquery.easing.1.3.js"></script>
          <!-- Bootstrap -->
          <script src="/js/bootstrap.min.js"></script>
          <!-- Waypoints -->
          <script src="/js/jquery.waypoints.min.js"></script>
          <!-- Carousel -->
          <script src="/js/owl.carousel.min.js"></script>
          <!-- countTo -->
          <script src="/js/jquery.countTo.js"></script>
          <!-- Stellar -->
          <script src="/js/jquery.stellar.min.js"></script>
          <!-- Magnific Popup -->
          <script src="/js/jquery.magnific-popup.min.js"></script>
          <script src="/js/magnific-popup-options.js"></script>
          <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
          <script src="/js/simplyCountdown.js"></script>
          <!-- Main -->
          <script src="/js/main.js"></script>
          <script>
            var d = new Date(new Date("August 4, 2023").getTime());
            var today = new Date();
            today.setHours(0, 0, 0, 0);
            
            if (d.getTime() === today.getTime()) {
            	document.querySelector(' .simply-countdown-one').innerHTML = '<h2>TODAY!</h2>';
            } else if (d < today) {
            	document.querySelector('.simply-countdown-one').innerHTML = '<h2>On August 4, 2023</h2>'
            		;
            } else {
            	simplyCountdown('.simply-countdown-one', {
            		year: d.getFullYear(), month:
            			d.getMonth() + 1, day: d.getDate(),
            	});
            }
            $('#simply-countdown-losange').simplyCountdown({
            	year: d.getFullYear(), month:
            		d.getMonth() + 1, day: d.getDate(), enableUtc: false,
            }); 
          </script>
        </body>
      </html>