<!DOCTYPE html>
<!--[if lt IE 7]>      
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
  <![endif]-->
  <!--[if IE 7]>         
  <html class="no-js lt-ie9 lt-ie8">
    <![endif]-->
    <!--[if IE 8]>         
    <html class="no-js lt-ie9">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <html class="no-js">
        <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>Isaura & Gabriel</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="¡Sorpesa! ¡Nos casamos!" />
          <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
          <meta name="author" content="FREEHTML5.CO" />
          <script src="../index.js"></script>
          <!-- Facebook and Twitter integration -->
          <meta property="og:title" content="" />
          <meta property="og:image" content="" />
          <meta property="og:url" content="" />
          <meta property="og:site_name" content="" />
          <meta property="og:description" content="" />
          <meta name="twitter:title" content="" />
          <meta name="twitter:image" content="" />
          <meta name="twitter:url" content="" />
          <meta name="twitter:card" content="" />
          <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet'
            type='text/css'>
          <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
          <!-- Animate.css -->
          <link rel="stylesheet" href="/css/animate.css">
          <!-- Icomoon Icon Fonts-->
          <link rel="stylesheet" href="/css/icomoon.css">
          <!-- Bootstrap  -->
          <link rel="stylesheet" href="/css/bootstrap.css">
          <!-- Magnific Popup -->
          <link rel="stylesheet" href="/css/magnific-popup.css">
          <!-- Owl Carousel  -->
          <link rel="stylesheet" href="/css/owl.carousel.min.css">
          <link rel="stylesheet" href="/css/owl.theme.default.min.css">
          <!-- Theme style  -->
          <link rel="stylesheet" href="/css/style.css">
          <!-- Modernizr JS -->
          <script src="/js/modernizr-2.6.2.min.js"></script>
          <!-- FOR IE9 below -->
          <!--[if lt IE 9]>
          <script src="js/respond.min.js"></script>
          <![endif]-->
        </head>
        <body>
          <div class="fh5co-loader"></div>
          <div id="page">
            <nav class="fh5co-nav" role="navigation">
              <div class="container">
                <div class="row">
                  <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="/index.html"><strong>I&G</strong></a></div>
                  </div>
                </div>
              </div>
            </nav>
            <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/images/img_bg_2.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat; position: relative;">
              <style>
                /* Mobile devices */
                @media only screen and (max-width: 768px) {
                  #fh5co-header.fh5co-cover {
                    background-position: -341px 0px !important;
                  }
                }
          
                /* Tablets */
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                  #fh5co-header.fh5co-cover {
                    background-position: -341px 0px !important;
                  }
                }
          
                /* Landscape tablets */
                @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
                  #fh5co-header.fh5co-cover {
                    background-position: -341px 0px !important;
                  }
                }
          
                /* Desktops and laptops */
                @media only screen and (min-width: 1366px) {
                  #fh5co-header.fh5co-cover {
                    background-position: center center !important;
                  }
                }
              </style>
              <div class="overlay"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                      <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Isaura &amp; Gabriel</h1>
                        <h2>Ens Casem!</h2>
                         <div class="simply-countdown simply-countdown-one"></div>
                         <p><a href="#confirma" class="btn btn-default btn-sm">
                           <% if (isPlural) { %>
                           Acompanyeu-nos!
                           <% } else { %>
                           Acompanyans!
                           <% } %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <div id="fh5co-couple">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <div id="invitation"></div>
                    <% if (params.length> 0) { %>
                    <h2>
                      <%= params.join(', ') %>
                    </h2>
                    <% } %>
                    <% if (isPlural) { %>
                        <h3>És un plaer poder convidar-vos al nostre casament!</h3>
                        <% } else { %>
                        <h3>És un plaer poder convidar-te al nostre casament!</h3>
                        <% } %>
                        <p>4 d'agost del 2023, València, Espanya</p>
                  </div>
                </div>
                <div class="couple-wrap animate-box">
                  <div class="couple-half">

                    <div class="groom">
                      <img src="/images/bride.jpg" alt="bride" class="img-responsive">
                    </div>
                    <div class="desc-groom">
                      <h3>Isaura Diaz Rangel</h3>
                    </div>

               
                  </div>
                  <p class="heart text-center"><i class="icon-heart2"></i></p>
                  <div class="couple-half">

                    <div class="bride">
                      <img src="/images/groom.jpg" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-bride">
                      <h3>Gabriel Clemente Ramos</h3>
                    </div>

                
                  </div>
                </div>
              </div>
            </div>
            <div id="fh5co-event" class="fh5co-bg" style="background-image:url(/images/img_bg_3.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat; position: relative;">
              <style>
                /* Mobile devices */
                @media only screen and (max-width: 768px) {
                  #fh5co-event.fh5co-bg {
                    background-position: -1206px 0px !important;
                  }
                }
              </style>
              <div class="overlay"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>El nostre dia especial</span>
                     <h2>Quan i on?</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="display-t">
                    <div class="display-tc">
                      <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                          <div class="event-wrap animate-box">
                            <h3>Ceremonia</h3>
                            <div class="event-col">
                              <i class="icon-clock"></i>
                              <span>18:00</span>
                              <span>19:00</span>
                            </div>
                            <div class="event-col">
                              <i class="icon-calendar"></i>
                              <span>Divendres 4</span>
                               <span>Agost, 2023</span>
                            </div>
                            <% if (isFamily) { %>
                                <p>La cerimònia serà al Jardí Mediterrani amb les seves fonts i gran varietat de plantes aromàtiques és el lloc perfecte on celebrar el nostre casament, aquí serà el còctel de benvinguda després de la cerimònia, s'accedeix directament des del pàrquing per les portes grans, no té pèrdua.</p>
                            <% } else { %>
                              <p>La cerimònia serà emesa per Jira així que esperem poder <% if (isPlural) { %>veus i respondre els vostres<% } else { %>veure't i respondre els teus <% } %> comentaris, òbviament més tard quan acabem de celebrar-ho, moltes gràcies!</p>
                            <% } %>
                          </div>
                        </div>
                        <% if (isFamily) { %>
                        <div class="col-md-6 col-sm-6 text-center">
                          <div class="event-wrap animate-box">
                            <h3>Convit</h3>
                            <div class="event-col">
                              <i class="icon-clock"></i>
                              <span>20:00</span>
                              <span>22:00</span>
                            </div>
                            <div class="event-col">
                              <i class="icon-calendar"></i>
                              <span>Divendres 4</span>
                               <span>Agost, 2023</span>
                            </div>
                            <p>El convit serà al Saló Blau és un saló d'estil clàssic, inspirat a l'antiga Grècia. Consta de tapissos i cúpules blaves, que juntament amb les làmpades d'aranya ofereixen un ambient distingit que ens ha enamorat. S'hi accedeix directament des del jardí, per les portes a mà dreta i tot recte</p>
                          </div>
                        </div>
                        <% } else { %>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% if (isFamily) { %>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385.4334584306298!2d-0.4082468175694906!3d39.390924432999626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604c3226d83549%3A0xbcb717f4dd1b6fb3!2sMediterr%C3%A1neo%20Restaurant%20i%20Salons!5e0!3m2!1sen!2sfr!4v1686064067940!5m2!1sen!2sfr" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="300rem" width="100%" allowfullscreen></iframe>
            <% } %>
            <% if (isFamily) { %>
            <div id="fh5co-couple">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <div id="invitation"></div>
                    <% if (isPlural) { %>
                        <h2>Volem que estigueu amb nosaltres!</h2>
                        <% } else { %>
                        <h2>Volem que estiguis amb nosaltres!</h2>
                        <% } %>
                        <% if (isPlural) { %>
                          <h3>Us estenem una cordial invitació perquè sou persones importants per a nosaltres i volem compartir aquest moment tan especial amb vosaltres. <br/><br/>Per nosaltres, el més important és poder gaudir junts, per això no esperem cap donació ni cobrem entrada. <br/><br/>La vostra presència és el que realment desitgem! <br/><br/>A més, us demanem amablement que eviteu fer servir el color blau rei, ja que l'hem reservat per a un detall especial. Esperem veure-us a tots radiants i elegants. <br/><br/>Us volem i per això volem compartir aquest dia tan especial amb vosaltres!</h3>
                          <% } else { %>
                          <h3>T'estenem una cordial invitació perquè ets una persona important per a nosaltres i volem compartir aquest moment tan especial amb tu. <br/><br/>Per nosaltres, el més important és poder gaudir junts, per això no esperem cap donació ni cobrem entrada. <br/><br/>La teva presència és el que realment desitgem! <br/><br/>A més, et demanem amablement que evitis fer servir el color blau rei, ja que ho hem reservat per a un detall especial. Esperem veure't radiant i elegant. <br/><br/>T'estimem i per això volem compartir aquest dia tan especial amb tu!</h3>
                          <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <div id="fh5co-started" class="fh5co-bg" style="background-image:url(/images/gifboda.gif),url(/images/img_bg_6.jpg);">
              <div class="overlay"></div>
              <% if (isFamily) { %>
              <div class="container">
                <div class="row animate-box">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <% if (isPlural) { %>
                        <h2>Podreu acompanyar-nos en persona?</h2>
                        <% } else { %>
                        <h2>Podràs acompanyar-nos en persona?</h2>
                        <% } %>
                        <% if (isPlural) { %>
                        <p>En cas contrari aviat posarem l'enllaç perquè el pugueu en viu ia
                          directe
                        </p>
                        <% } else { %>
                        <p>En cas contrari aviat posarem l'enllaç perquè el puguis veure a
                          viu i
                          en directe
                        </p>
                        <% } %>
                  </div>
                </div>
                <div id="confirma" class="row animate-box  text-center">
                  <div class="col-md-10 col-md-offset-1  mx-auto d-block">
                    <form class="form-inline  mx-auto d-block">
                      <div class="col-md-12 col-sm-4  mx-auto d-block">
                        <div class="col-md-4 col-sm-4">
                        </div>
                        <a href="https://www.bodas.net/web/isaura-and-gabriel/confirmatuasistencia-3" target="_blank" >
                        <button type="button" class="btn btn-default btn-block mx-auto d-block">
                            <% if (isPlural) { %>
                                Anem al casament!
                                <% } else { %>
                                Vaig al casament!
                                <% } %>
                        </button>
                        </a>
                        <div class="col-md-4 col-sm-4">
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-4  mx-auto d-block">
                        <div class="col-md-4 col-sm-4">
                        </div>
                        <a href="https://youtube.com/live/E_20-p46kmY?feature=share" target="_blank" >
                        <button type="button" class="btn btn-default btn-block mx-auto d-block">
                            Veure en directe
                        </button>
                        </a>
                        <div class="col-md-4 col-sm-4">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% } else { %>
              <div class="container">
                <div class="row animate-box">
                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <% if (isPlural) { %>
                        <h2>Acompanyeu-nos de forma virtual</h2>
                        <% } else { %>
                        <h2>Acompanya'ns de forma virtual</h2>
                        <% } %>
                  </div>
                </div>
                <div id="confirma" class="row animate-box  text-center">
                  <div class="col-md-10 col-md-offset-1  mx-auto d-block">
                    <form class="form-inline  mx-auto d-block">
                      <div class="col-md-12 col-sm-4  mx-auto d-block">
                        <div class="col-md-4 col-sm-4">
                        </div>
                        <a href="https://youtube.com/live/E_20-p46kmY?feature=share" target="_blank" >
                        <button type="button" class="btn btn-default btn-block mx-auto d-block">
                            Veure en directe
                        </button>
                        </a>
                        <div class="col-md-4 col-sm-4">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            <footer id="fh5co-footer" role="contentinfo">
              <div class="container">
                <div class="row copyright">
                  <div class="col-md-12 text-center">
                    <p>
                      <small class="block">&copy; 2023. All Rights Reserved.</small>
                      <small class="block">Designed by <a href="https://gabo.solutions/"
                        target="_blank" >GABO</a></small>
                    </p>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
          </div>
          <!-- jQuery -->
          <script src="/js/jquery.min.js"></script>
          <!-- jQuery Easing -->
          <script src="/js/jquery.easing.1.3.js"></script>
          <!-- Bootstrap -->
          <script src="/js/bootstrap.min.js"></script>
          <!-- Waypoints -->
          <script src="/js/jquery.waypoints.min.js"></script>
          <!-- Carousel -->
          <script src="/js/owl.carousel.min.js"></script>
          <!-- countTo -->
          <script src="/js/jquery.countTo.js"></script>
          <!-- Stellar -->
          <script src="/js/jquery.stellar.min.js"></script>
          <!-- Magnific Popup -->
          <script src="/js/jquery.magnific-popup.min.js"></script>
          <script src="/js/magnific-popup-options.js"></script>
          <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
          <script src="/js/simplyCountdown.js"></script>
          <!-- Main -->
          <script src="/js/main.js"></script>
          <script>
            var d = new Date(new Date("August 4, 2023").getTime());
            var today = new Date();
            today.setHours(0, 0, 0, 0);
            
            if (d.getTime() === today.getTime()) {
            	document.querySelector(' .simply-countdown-one').innerHTML = '<h2>AVUI!</h2>';
            } else if (d < today) {
            	document.querySelector('.simply-countdown-one').innerHTML = "<h2>El 4 d'agost de 2023</h2>"
            		;
            } else {
            	simplyCountdown('.simply-countdown-one', {
            		year: d.getFullYear(), month:
            			d.getMonth() + 1, day: d.getDate(),
            	});
            }
            $('#simply-countdown-losange').simplyCountdown({
            	year: d.getFullYear(), month:
            		d.getMonth() + 1, day: d.getDate(), enableUtc: false,
            }); 
          </script>
        </body>
      </html>